@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
header {
  height: 490px;
  width: 100%;
  margin-bottom: 75px;
  background: url("../img/banner.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  background-color: #F3F5F4; }

h2.title {
  font-family: "Droid Sans", sans-serif; }

p.content {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter; }
