// Imports:
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300)
@import url(http://fonts.googleapis.com/css?family=Droid+Sans)

// Assets:
$bg-image: "../img/banner.jpg"

// Colors:

$bg-color: #F3F5F4
$cesium:  #ed7950
$cesium-darker: darken($cesium, 10%)
$dark-gray: #333333
$light-gray: #f1f1f1

// Fonts:
@font-face
  font-family: 'Mohave'
  src: url('../font/Mohave.otf') format('opentype')
  font-weight: normal
  font-style: normal

$mohave: 'Mohave', sans-serif
$droid: 'Droid Sans', sans-serif
$open: 'Open Sans', sans-serif
