@import "settings"

header
  height: 490px
  width: 100%
  margin-bottom: 75px
  background: url($bg-image) no-repeat
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover


body
  background-color: $bg-color

h2.title
  font-family: $droid

p.content
  font-family: $open
  font-weight: lighter
