@import url(http://fonts.googleapis.com/css?family=Raleway:300);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:700);

// colors

$main-text: #7f8c97; // main text
$link: #acb7c0; // anchor tags
$background: #9c6a79; // body background color

$color-1: #303e49; // blue dark
$color-2: #c03b44; // red
$color-3: #ffffff; // white
$color-4: #75ce66; // green
$color-5: #f0ca45; // yellow

$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Droid Sans', sans-serif;
